<mat-card *ngIf="user">
    <h1>your profile details</h1>
    <mat-card-content>
        <div class="bootstrap wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjtNBgCacCwHhxVPj1ubPRygdT7X_7w_UrLQ&usqp=CAU" 
                    alt="" class="profile-img" />
                    <h2>{{user.firstName}} {{user.lastName}}</h2>
                </div> 
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- // table of details -->
                        <table class="table text-center">
                            <tr>
                                <td>username</td>
                                <td>{{user.firstName}}</td>
                            </tr>

                            <tr>
                                <td>user id</td>
                                <td>EXAM{{user.id}}</td>
                            </tr>

                            <tr>
                                <td>phone number</td>
                                <td>{{user.phone}}</td>
                            </tr>

                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>status</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>
</mat-card>