<!-- navbar static -->
<app-navbar></app-navbar>
<!-- dynamic content -->
<router-outlet></router-outlet>
<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <h1>welcome Yash online exam </h1>
        <button mat-raised-button color="primary">Primary</button>
        <div class="row">
            <div class="col-md-6">
                <h1>left side</h1>
                <button mat-raised-button color="accent">wow</button>
            </div>
            <div class="col-md-6">
                <h1>right side</h1>
                <button mat-raised-button color="primary">wow</button>
            </div>
        </div>
    </div>
</div> -->